.DS_Store
node_modules
node_modules_bak
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

#Downloaded Extras
/data/extras

#DB in use
/data/media-hoarder*.db*

#RELEASE
/RELEASE

#test HTML files for imdb-scraper-watchdog
/*.html
